.menu {
    grid-area: menu;
    height: 80vh;
    background-color: slateblue;
    border-radius: 15px;
}

.menu__list {
    list-style: none;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.link {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: ghostwhite;
}

.link.active {
    color: gold;
}
